/* This is the main global stylesheet that Next.js automatically loads for the entire app. /*
/* base styles

resets

typography

colors

CSS variables

Tailwind import (if you use Tailwind) */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));